# Lambda function

In [1]:
def addition(a,b):
    return(a+b)

In [2]:
addition(4,3)

7

In [4]:
add=lambda a,b:a+b

In [5]:
add(3,2)

5

In [19]:
def even(num):
    if num%2==0:
        return "34 is even"
even(34)

'34 is even'

In [13]:
a=lambda b:b%2==0
a(12)

True

In [14]:
def add(x,y,z):
    return(x+y+z)
add(12,13,2)

27

In [15]:
c=lambda x,y,z:x+y+z
c(2,3,4)

9

# map function in python

In [14]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [15]:
even(24)

True

In [16]:
def even(num):
    if num%2==0:
        return "The {} is even".format(num)
    else:
        return "The {} is odd".format(num)
even(49)

'The 49 is odd'

In [31]:
lst=[2,3,45,32,12,23,12,3,2,1,1,1,]
map(even,lst)

In [32]:
list(map(even,lst))

['The 2 is even',
 'The 3 is odd',
 'The 45 is odd',
 'The 32 is even',
 'The 12 is even',
 'The 23 is odd',
 'The 12 is even',
 'The 3 is odd',
 'The 2 is even',
 'The 1 is odd',
 'The 1 is odd',
 'The 1 is odd']

In [33]:
a=lambda b:b%2==0
a

In [34]:
lst=[2,3,45,32,12,23,12,3,2,1,1,1,]
map(a,lst)

In [35]:
list(map(a,lst))

[True, False, False, True, True, False, True, False, True, False, False, False]

# Filter function

In [60]:
def even(num):
    if num%2==0:
        return True

In [61]:
lst=[1,2,3,5,6,7,8,23,45,65,76]

In [62]:
filter(even,lst)

In [63]:
list(filter(even,lst))

[2, 6, 8, 76]

In [65]:
list(map(even_odd,lst))

[None, True, None, None, True, None, True, None, None, None, True]

In [70]:
filter(lambda num1:num1%2==0,lst)

In [72]:
list(filter(lambda num1:num1%2==0,lst))

[2, 6, 8, 76]

In [76]:
list(map(lambda num1:num1%2==0,lst))

[False, True, False, False, True, False, True, False, False, False, True]

In [73]:
z=lambda num1:num1%2==0

In [74]:
filter(z,lst)

In [75]:
list(filter(z,lst))

[2, 6, 8, 76]

In [77]:
list(map(z,lst))

[False, True, False, False, True, False, True, False, False, False, True]

In [78]:
def even(num):
    if num%2==0:
        return "The {} is even".format(num)
    else:
        return "The {} is odd".format(num)

In [79]:
list(map(even,lst))

['The 1 is odd',
 'The 2 is even',
 'The 3 is odd',
 'The 5 is odd',
 'The 6 is even',
 'The 7 is odd',
 'The 8 is even',
 'The 23 is odd',
 'The 45 is odd',
 'The 65 is odd',
 'The 76 is even']

In [80]:
list(filter(even,lst))

[1, 2, 3, 5, 6, 7, 8, 23, 45, 65, 76]